certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
decorator
docopt==0.6.2
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==2.2.1
numpy==2.2.3
Pillow==11.2.1
proglog==0.1.12
requests==2.32.4
tqdm==4.67.1
urllib3==2.5.0
librosa==0.11.0
PySimpleGUI==5.0.8.3
