certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
decorator
docopt==0.6.2
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==2.1.2
numpy==2.2.3
Pillow==11.1.0
proglog==0.1.10
requests==2.32.3
tqdm==4.67.1
urllib3==2.3.0
librosa==0.10.2.post1
PySimpleGUI==5.0.8
