certifi==2026.7.22
charset-normalizer==3.4.9
colorama==0.4.6
decorator
docopt==0.6.2
idna==3.18
imageio==2.37.4
imageio-ffmpeg==0.6.0
moviepy==2.2.1
numpy==2.5.1
Pillow==12.3.0
proglog==0.1.12
requests==2.34.2
tqdm==4.70.0
urllib3==2.7.0
librosa==0.11.0
FreeSimpleGUI==5.2.0.post1
